*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
a:link {
  text-decoration: none;
}

/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.sidebar{
  position: fixed;
  height: 100%;
  width: 240px;
  background: #f15252;
  transition: all 0.5s ease;
}
.sidebar.active{
  width: 60px;
}
.sidebar .logo-details{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.sidebar .logo-details i{
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  min-width: 60px;
  text-align: center
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.sidebar .nav-links{
  margin-top: 10px;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  height: 50px;
}
.sidebar .nav-links li a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li a.active{
  background: #f1871f;
}
.sidebar .nav-links li a:hover{
  background: #f1871f;
}
.sidebar .nav-links li i{
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.sidebar .nav-links li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}
.sidebar .nav-links .log_out{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.home-section{
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section{
  width: calc(100% - 60px);
  left: 60px;
}
.home-section nav{
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section nav{
  left: 60px;
  width: calc(100% - 60px);
}
.home-section nav .sidebar-button{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
nav .sidebar-button i{
  font-size: 35px;
  margin-right: 10px;
  cursor: pointer;
}
.home-section nav .search-box{
  position: relative;
  height: 50px;
  max-width: 550px;
  width: 100%;
  margin: 0 20px;
}
nav .search-box input{
  height: 100%;
  width: 100%;
  outline: none;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}
nav .search-box .bx-search{
  position: absolute;
  height: 40px;
  width: 40px;
  background: #2697FF;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  transition: all 0.4 ease;
  cursor: pointer;
}
.home-section nav .profile-details{
  display: flex;
  align-items: center;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}
nav .profile-details img{
  height: 40px;
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
}
nav .profile-details .admin_name{
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}
nav .profile-details i{
  font-size: 25px;
  color: #333;
}
/* ------------start css dashboard------------ */
.home-section .home-content{
  position: relative;
  padding-top: 104px;
}
.home-content .overview-boxes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 26px;
}
.overview-boxes .box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 15px);
  background: #fff;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.overview-boxes .box-topic{
  font-size: 20px;
  font-weight: 500;
}
.home-content .box .number{
  display: inline-block;
  font-size: 35px;
  margin-top: -6px;
  font-weight: 500;
}
.home-content .box .indicator{
  display: flex;
  align-items: center;
}
.home-content .box .indicator i{
  height: 20px;
  width: 20px;
  background: #8FDACB;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  margin-right: 5px;
}
.box .indicator i.down{
  background: #e87d88;
}
.home-content .box .indicator .text{
  font-size: 12px;
}
.home-content .box .cart{
  display: inline-block;
  font-size: 32px;
  height: 50px;
  width: 50px;
  background: #cce5ff;
  line-height: 50px;
  text-align: center;
  color: #66b0ff;
  border-radius: 12px;
  margin: -15px 0 0 6px;
}
.home-content .box .cart.two{
  color: #2BD47D;
  background: #C0F2D8;
}
.home-content .box .cart.three{
  color: #ffc233;
  background: #ffe8b3;
}
.home-content .box .cart.four{
  color: #e05260;
  background: #f7d4d7;
}
.home-content .total-order{
  font-size: 20px;
  font-weight: 500;
}
.home-content .info-boxes{
  width: 97%;
  margin: 10px auto;
}

/* left box */
.home-content .info-boxes .info-box{
  width: 100%;
  background: #fff;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.info-details{
  margin-left: auto;
  margin-right: auto;
}
.info-boxes .box .title{
  font-size: 24px;
  font-weight: 500;
  /* margin-bottom: 10px; */
}

.info-boxes .box .button{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.info-boxes .box .button a{
  color: #fff;
  background: #0A2558;
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.info-boxes .box .button a:hover{
  background:  #0d3073;
}

.styled-table {
  width: 100%;
  /* border-collapse:collapse; */
  margin: 25px auto;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
  
}
.styled-table th,
.styled-table td {
  padding: 10px 10px;
}
.styled-table tbody th input {
  width: 100%;
  padding: 5px 10px;
  border: 2px solid #ede5e5;
  border-radius: 8px;
  background-color: hsl(220, 18%, 97%);
}
select {
  width: 100%;
  padding: 5px 10px;
  border: 2px solid #ede5e5;
  border-radius: 8px;
  background-color: hsl(220, 18%, 97%);
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  background-color: #d3e4e2;
  
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;

}
.info-item{
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: #2697FF; */
  margin-left: auto;
  margin-right: auto;
  min-height: 190px;
}
.info-item_sc {
  height: 150px;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: #2697FF; */
  margin-left: auto;
  margin-right: auto;
}
.btn-action{
  padding: 5px;
  background-color: #183d87;
  color: white;
  border: 0;
  outline: none;
  border-radius: 4px;
  margin: auto 5px;
}
.btn-action.delete{
  background-color: #f15252;
}


.add-boxes{
  width: 97%;
  height: 100%;
  background-color:#fff;
  margin: 10px auto;
  padding: 20px;
  border-radius: 20px;
}
.info_movie-boxes{
  width: 97%;
  height: 100%;
  background-color: #fff;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 20px;
}
.wrapper-add {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 25px 25px;
  margin: 10px auto;
}
.form-movies-add {

}
.label {
  font-weight: 500;
  font-size: 18px;
  padding: 5px;
}
.item-add{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-add input {
  width: 100%;
  padding: 5px 10px;
  border: 2px solid #eee;
  border-radius: 8px;
  background-color: hsl(220, 18%, 97%);
}
.form-add button {
  background-color: #183d87;
  color: white;
  border: 0;
  outline: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
}
.msg-boxes{
  width: 97%;
  height: 100%;
  background-color:#fff;
  margin: 10px auto;
  padding: 20px;
  border-radius: 20px;
  color: #FF6651;
  text-align: center;
  
}
.msg-boxes span{
  font-size: 24px;
  line-height: 1.5;
  font-weight: 600;
}
/* Responsive Media Query */
@media (max-width: 1400px) {
  .home-content .info-boxes .box{
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
}
@media (max-width: 1240px) {
  .sidebar{
    width: 60px;
  }
  .sidebar.active{
    width: 220px;
  }
  .home-section{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section{
    left: 220px;
    width: calc(100% - 220px);
    overflow: hidden;
  }
  .home-section nav{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section nav{
    width: calc(100% - 220px);
    left: 220px;
  }
}
@media (max-width: 1150px) {
  .home-content .info-boxes{
    flex-direction: column;
  }
  .home-content .info-boxes .box{
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
  .home-content .info-boxes .top-sales{
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .overview-boxes .box{
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i{
    display: none;
  }
  .home-section nav .profile-details{
    height: 50px;
    min-width: 40px;
  }
  .home-content .info-boxes .info-details{
    width: 560px;
  }
}
@media (max-width: 550px) {
  .overview-boxes .box{
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar.active ~ .home-section nav .profile-details{
    display: none;
  }
}
@media (max-width: 400px) {
  .sidebar{
    width: 0;
  }
  .sidebar.active{
    width: 60px;
  }
  .home-section{
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section{
    left: 60px;
    width: calc(100% - 60px);
  }
  .home-section nav{
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section nav{
    left: 60px;
    width: calc(100% - 60px);
  }
}
